/* Globals Styles */
:root {
    /* Negro Carbón */
    --primary-color: #1C1C1E;
    /* Gris Pizarra */
    --secondary-color: #2E2E3A;
    /* Cian Oscuro */
    --accent-color: #00ADB5;
    /* Gris Ceniza */
    --background-secondary: #393E46;
    /* Rojo Óxido */
    --warning-color: #E64A19;
    /* Verde Vivo */
    --success-color: #4CAF50;
    /* Blanco Hueso */
    --text-color: #E0E0E0;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    /* Colores de estado */
    /* Verde Azulado */
    --status-activo: #00796b;
    /* Amarillo Vivo */
    --status-pendiente: #fbc02d;
    /* Verde Oscuro */
    --status-completado: #388e3c;

    /* Colores de prioridad */
    /* Rojo Intenso */
    --priority-alta: #d32f2f;
    /* Naranja Vivo */
    --priority-media: #f57c00;
    /* Azul Intenso */
    --priority-baja: #1976d2;
}

body {
    margin: 0;
    font-family: var(--font-secondary);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: var(--font-primary);
    color: var(--text-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-primary);
}

.btn:hover {
    background-color: #008A93;
}

.edit-button,
.delete-button,
.back-button,
.finish-button {
    padding: 10px 15px;
    background-color: #B38600;
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(220, 205, 63, 0.2);
}

.edit-button:hover {
    background-color: #CC9A00;
    transform: scale(1.05);
}

.delete-button {
    background-color: var(--warning-color);
    box-shadow: 0 4px 8px rgba(255, 69, 0, 0.3);
}

.delete-button:hover {
    background-color: #FF5722;
    transform: scale(1.05);
}

.back-button {
    text-align: center;
    background-color: #008A93;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
    background-color: #06a3ae;
    transform: scale(1.05);
}

.finish-button {
    background-color: #007F00;
    box-shadow: 0 4px 8px rgba(2, 141, 2, 0.2);
}

.finish-button:hover {
    background-color: #009900;
    transform: scale(1.05);
}

.finish-button.disabled {
    background-color: #d3d3d3;
    color: #8c8c8c;
    cursor: not-allowed;
    box-shadow: none;
}

.finish-button.disabled:hover {
    background-color: #d3d3d3;
}

.action-buttons {
    display: flex;
    /* Ajusta los botones */
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 512px) {
    .action-buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .action-buttons button {
        width: 80%;
    }
}

/* 
.status {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.status:hover {
    transform: scale(1.05);
}

.status.completado {
    background-color: var(--success-color);
    color: #fff;
}

.status.activo {
    background-color: var(--accent-color);
    color: #fff;
}

.status.pendiente {
    background-color: var(--warning-color);
    color: #fff;
} */

/* Estilos para 'no contenido' */
.no-content {
    margin-top: 4rem;
    width: 60rem;
    max-width: 70%;
    background-color: #f5f5f5;
    padding: 0 1.5rem;
    border: 2px solid #00796b;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.no {
    color: var(--warning-color);
}

.no-content-message {
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.no-content-message span{
    color: #d32f2f;
}

.no-content-message i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: #00796b;
}