/* Navbar Styles */
.header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-family: var(--font-primary);
    font-size: 2.2rem;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
}

nav ul li:hover {
    color: var(--accent-color);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link.active {
    color: var(--accent-color);
    font-weight: bold;
    border-bottom: 2px solid var(--accent-color);
}

.nav-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
        flex-direction: column;
        padding: 10px 20px;
    }

    nav {
        width: 100%;
        margin-top: 10px;
    }

    nav ul {
        display: block;
        margin-top: 10px;
        width: 100%;
        padding-left: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
        font-size: 1.5rem;
    }

    nav ul li:hover {
        color: var(--accent-color);
        background-color: var(--background-secondary);
        transition: background-color 0.3s ease;
    }
}